* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --primary-nutmeg: hsl(14, 45%, 36%);
    --primary-dark-raspberry: hsl(332, 51%, 32%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-rose-white: hsl(330, 100%, 98%);
    --neutral-eggshel: hsl(30, 54%, 90%);
    --neutral-light-grey: hsl(30, 18%, 87%);
    --neutral-wenge-brown: hsl(30, 10%, 34%);
    --neutral-dark-charcoal: hsl(24, 5%, 18%);
    --neutral-link: hsl(228, 45%, 44%);

    --font-default: 'Outfit', sans-serif;
    --font-secondary: 'Young Serif', sans-serif;
}

body {
    background-color: var(--neutral-eggshel);
    color: var(--neutral-wenge-brown);
    display: grid;
    font-family: var(--font-default);
    justify-content: center;
    place-content: center;
}

img {
    max-width: 100%;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

li::marker {
    color: var(--primary-dark-raspberry);    
}

.font-title {
    color: var(--primary-nutmeg);
    font-family: var(--font-secondary);
    font-weight: 500;
}

span {
    font-weight: 600;
}

.border-1 {
    border-bottom: solid 1px var(--neutral-light-grey);
}

.space-bottom {
    margin-bottom: 15px;
}

/*container*/
.container {
    background-color: var(--neutral-white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
    max-width: 1440px ;
    padding: 40px;
}

@media screen and (max-width: 375px) {
    .container {
        border-radius: 0;
        margin: 0;
    }
}

/*card-1*/
.card-1 {
    max-width: 629px;
}

.card-1 img {
    border-radius: 15px;
}

/*card-2*/
.card-2 {
    display: grid;
    gap: 20px;
}

.card-2 h1 {
    color: var(--neutral-dark-charcoal);    
}

.card-2 p {    
    max-width: 60ch;
}

/*preparation*/
.preparation {
    background-color: var(--neutral-rose-white);
    border-radius: 10px;
    padding: 20px;
}

.preparation h3 {
    color: var(--primary-dark-raspberry);
    margin-bottom: 10px;
}

/*card-3*/
.card-3 {
    padding-bottom: 20px;    
}

/*card-4*/
.card-4 {
    padding-bottom: 20px;
}

.card-4 li {
    max-width: 57ch;    
}

/*card-5*/
.card-5-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.card-5-data p {
    padding: 10px 0px 10px 20px;
}

/*description*/
.description p {
    color: var(--primary-nutmeg);
    font-weight: 700;
}

/*Footer*/
.attribution {
    font-size: .6875rem; 
    margin: 20px 0 20px 0;
    text-align: center; 
}

.attribution a {
    color: var(--primary-nutmeg); 
}

.attribution a:hover  {
    color: var(--primary-soft-magenta);
}